@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url("reset.css");
@import url("grid.css");
@import url("usable.css");



.main-header {
	background: #4A4A4A;
}


.main-header .menu {
	float: left;
	width: 67px;
	border-right: 1px solid #9B9B9B ;
	height: 67px;
	margin-left: -15px;
}

.main-header .menu a {
	color: #9B9B9B;
	font-size: 26px;
	line-height: 26px;
	display: block;
	padding: 20px 18px;
	text-align: center;
}

.main-header.open .menu a {
	color: #fff;
}

.main-header .logo {
	float: left;
	padding-left: 20px;
}

.main-header .logo a {
	color: #fff;
}


.main-header .logo a h1 {
	margin: 0;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	top: -5px;
	padding-bottom: 10px;
}

.main-header .logo a h1 .logo-ic {
	width: 40px;
	height: 48px;
	display: inline-block;
	background: url("../img/logo.svg") no-repeat 50% 50%;
	background-size: 100%;
	margin-right: 6px;
	position: relative;
	top: 15px;
}

.main-header.open .menu-show {
	display: block;
	position: absolute;
	width: 100%;
	top: 66px;
	margin: 0 -15px;
	z-index: 30;
	background: #fff;
	padding: 15px;
	outline: black solid 1px
}
.main-header.open .menu-show.como {
	top: 115px;
}

.main-header.open .menu-show.pacotes {
	top: 164px;
}

.main-header.open .menu-show.contato {
	top: 213px;
}

.main-header.open .menu-show.login {
	top: 262px;
}

.main-header.open .menu-show a {
	color: #6d6c6c;
	display: block;
	text-transform: uppercase;
}

.main .main-social {
	text-align: center;
	padding: 38px 0;
	font-size: 30px;
}
.main .main-social li {
	display: inline-block;
	margin: 0 30px;
}
.main .main-social .facebook a {
	color: #455b96;
}

.main .main-social .twitter a {
	color: #5baaec;
}

.main .main-social .linkedin a {
	color: #fff;
	background: #4983b8;
	border-radius: 3px;
	width: 32px;
	height: 30px;
	font-size: 23px;
	padding: 2px 4px;
	position: relative;
	top: -5px;
}

.main-footer {
	background: #2C2C2C;
	padding: 18px 0;
	color: #FFFFFF;
}
.main-footer .main-contacts {
	position: relative;
}
.main-footer .main-contacts a {
	display: block;
}
.main-footer .main-contacts .logo-ic {
	width: 49px;
	height: 60px;
	display: inline-block;
	background: url("../img/logo.svg") no-repeat 50% 50%;
	background-size: 100%;
	margin-right: 6px;
	position: relative;
	top: 0px;
}

.main-footer .main-contacts .newsletter {
	text-align: right;
}

.main-footer .main-contacts .newsletter input {
	background: #353535;
	border-radius: 100px;
	width: 104px;
	height: 24px;
	padding: 0 24px 0 14px ;
	display: inline-block;
	border: 0px none;
	font-size: 10px;
	position: relative;
	z-index: 2;
	right: -24px;
	top:2px;
	outline: none;
}

.main-footer .main-contacts .newsletter button {
	font-size: 8px;
	width: 24px;
	height: 24px;
	background: #4990E2;
	border-radius: 100px;
	position: relative;
	z-index: 3;
	border: 0px none;
}

.main-footer .main-contacts .newsletter>span {
	font-size: 9px;
	color: #FFFFFF;
	letter-spacing: 1.8px;
	font-weight: 700;
	display: block;
	margin-bottom: 9px;
}

.main-footer .main-contacts small {
	font-size: 10px;
	color: #9B9B9B;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
	display: block;
	margin-top: 5px;
}


/* Home */

.main .main-banner {

	height: 187px;
	background: #e3e3e3;
	background: -moz-linear-gradient(45deg,  #e3e3e3 0%, #f6f6f6 100%);
	background: -webkit-linear-gradient(45deg,  #e3e3e3 0%,#f6f6f6 100%);
	background: linear-gradient(45deg,  #e3e3e3 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f6f6f6',GradientType=1 );
	text-align: center;
}

.main .main-banner .container {
	background: url("../img/bg-mapa.png") no-repeat 0 bottom;
	background-size: 100% ;
}

.main .main-banner h2 {
	text-align: center;
	margin: 0;
	padding-top: 15px;
	font-weight: 900;
	font-size: 16px;
}

.main .main-banner h3 {
	text-align: center;
	margin: 0;
	padding-top: 5px;
	font-weight: 400;
	font-size: 11px;
}

.main .main-banner a {
	display: inline-block;
	font-weight: 900;
	font-size: 10px;
	line-height: 10px;
	padding: 15px 17px;
	background: #D0021B ;
	border-radius: 8px;
	color: #fff;
	margin-top: 85px;
	position: relative;
	top: 30px;
}


.main .main-banner a span {
	font-size: 10px;
	width: 18px;
	height: 20px;
	border-radius: 100px;
	padding: 3px 2px 3px 5px;
	border: 3px solid #fff; 
	margin-right: 12px;
}

.main .main-search {
	padding: 30px 0;
	text-align: center;
}

.main .main-search h2 {
	font-weight: 900;
	margin: 20px 0 10px 0;
	font-size: 18px;
}

.main .main-search p {
	font-weight: 300;
	font-size: 12px;
}
.main .main-search p strong {
	text-transform: uppercase;
	font-weight: 700;
}

.main .main-search form input{
	width: 100%;
	height: 50px;
	margin-bottom: 12px;
	border-radius: 5px;
	border: 1px solid #9B9B9B ; 
	font-size: 18px;
	color: #B5B8BB ;
	font-family: "Lato", sans-serif;
	padding: 0 20px;
	outline: none;
}

.main .main-search form small {
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #4A4A4A ;
	margin-bottom: 14px;
}

.main .main-search form button {
	background: #4990E2 ;
	color: #fff;
	border-radius: 4px;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 2.48px;
	line-height: 26px;
	border: 0px none; 
	padding: 4px 14px 10px 14px;
	text-transform: uppercase;
	cursor: pointer;
}

.main .main-search form button span {
	margin-right: 13px;
	font-size: 26px;
	line-height: 26px;
	position: relative;
	top: 5px;
}

.main .main-search form .menu-drop {
	position: relative;
}

.main .main-search form .opt-class {
	position: absolute;
	background: #F1F1F1;
	border: 1px solid #979797;
	height: 328px;
	padding: 20px;
	z-index: 12;
	width: 280px;
    top: 49px;
    width: 100%;
    width: calc(100% - 8px);
    left: 4px;
    border-radius: 0 0 5px 5px;
    display: none;
}

.main .main-search form.open .opt-class {
	display: block;
}

.main .main-search form .opt-class h3 {
	margin: 0px;
	text-align: left;
	font-size: 18px;
	color: #4A4A4A;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom:1px solid #979797;
}

.main .main-search form .opt-class ul {
	text-align: left;
}

.main .main-search form .opt-class ul li {
	display: block;
	height: 30px;
	margin-top: 25px;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 30px;
	position: relative;
}
.main .main-search form .opt-class ul li strong {
	font-weight: 400;
	position: relative;
	top: -8px;
}

.main .main-search form .opt-class input {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px 20px 0 0;
	padding: 0px;
	position: relative;
}

.main .main-search form .opt-class input:after {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid #4990E2;
	border-radius: 4px;
	display: block;
	content: "";

}
.main .main-search form .opt-class input:checked:after {
	background: #4990E2;
}

.main .main-search form .opt-class input:checked {
	background: #4990E2;
}

.main .main-plans {
	background: #6D6C6C;
	text-align: center;
	padding-bottom: 30px;
}

.main .main-plans h2 {
	font-weight: 900;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;
	margin: 38px 0 10px 0 ;
}

.main .main-plans p {
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 20px;
	margin: 0 0 40px 0;
}

.main .main-plans ul li {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 6px;
	padding: 27px 17px 35px 17px;
	margin-bottom: 26px;

}

.main .main-plans ul li h3 {
	font-weight: 900;
	font-size: 30px;
	color: #212121;
	letter-spacing: 2px;
	margin: 0 0 6px 0;
}

.main .main-plans ul li h4 {
	font-weight: 400;
	font-size: 65px;
	color: #212121;
	margin: 0 0 6px 0;
}
.main .main-plans ul li h4 span {
	font-size: 30px;
	line-height: 48px;
	position: relative;
	top: -20px;
}

.main .main-plans ul li h5 {
	font-size: 20px;
	color: #4A4A4A;
	font-weight: 400;
	margin: 0 0 26px 0;
}

.main .main-plans ul li a {
	border-radius: 100px;
	font-size: 12px;
	letter-spacing: 2.4px;
	padding: 13px 6px;
	text-transform: uppercase;
	display: inline-block;
	color: #525252;
	background: #ffffff;
	border: 1px solid #525252 ;
}
.main .main-plans ul li:first-child a {
	color: #FFFFFF;
	background: #D0011B;
	border: 1px solid #D0011B ;
}

.main .main-saing {
	padding: 38px 0;
	position: relative;
}

.main .main-saing h3 {
	font-size: 23px;
	color: #4A4A4A;
	font-weight: 900;
	margin: 0;
	padding-left: 30px;
	position: relative;
}
.main .main-saing h3:before {
	content: "“";
	font-size: 50px;
	color: #4990E2;
	line-height: 50px;
	display: block;
	width: 35px;
	height: 40px;
	font-family: monospace;
	margin-right: 5px;
	position: absolute;
	left: 0px;
}

.main .main-saing small {
	display: block;
	clear: both;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	color: #4A4A4A;
	margin: 10px 0 0 0;
	text-align: right;
}


.main .main-map {
	background: #e1e1e1;
	text-align: center;
}

.main .main-map .product-photo {
	background: url(../img/img-block.jpg) no-repeat 50% 50%;
	background-size: 100%;
	height: 320px;
}


.main .main-map p {
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 1.2px;
	line-height: 17px;
	margin: 18px 0;
}


/* quem somos */

#quem-somos .inside h2 {
	font-size: 18px;
	color: #4A4A4A;
	margin: 16px 0;
	font-weight: 900;
}

#quem-somos .inside p {
	font-weight: 300;
	font-size: 14px;
	color: #4A4A4A;
	padding-bottom: 26px;
}

#quem-somos .inside p strong {
	font-size: 18px;
}

#quem-somos .inside .logo-quem-somos {
	width: 142px;
	margin: 30px auto;
	display: block;
}

/* como funciona */

#como-funciona .inside h2 {
	font-size: 18px;
	color: #4A4A4A;
	margin: 16px 0;
	font-weight: 900;
}

#como-funciona .inside h3 {
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing: 1.5px;
	line-height: 25px;
	font-weight: 400;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

#como-funciona .inside p {
	font-size: 14px;
	color: #4A4A4A;
	line-height: 17px;
	margin: 0 0 20px 0;
}

#como-funciona .inside img {
	display: block;
	margin: 10px auto 36px auto;
}

#como-funciona .inside .icon-pointer-black {
	font-size: 78px;
	color: #f8e71c;
	
}

#como-funciona .inside .icon-work {
	text-align: center;
}

#como-funciona .inside .icon-work>span:last-child {
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	background: #4a4a4a;
	border-radius: 100px;
	border: 10px solid #4a4a4a;
}

#como-funciona .inside .bt-funciona-f {
	border-radius: 100px;
	padding: 8px 45px;
	background: #4990E2 ;
	display: block;
	color: #fff;
	margin: 30px auto;
	font-size: 14px;
	letter-spacing: 1.4px;
	line-height: 17px;
	font-weight: 400;
	text-align: center;
}
#como-funciona .inside .bt-funciona-f strong {
	font-weight: 900;
}

/* Pacotes */



@media (min-width: 768px) {
	.main-header .menu {
		width: 104px;
		height: 104px;
		position: relative;
		left: -15px;
	}
	.main-header .menu a {
		font-size: 40px;
		line-height: 40px;
		padding-top: 30px;
		padding-bottom: 32px;
	}
	.main-header .logo a h1 {
		font-size: 35px;
		letter-spacing: 3.5px;
		top: -20px;
	}
	.main-header .logo a h1 .logo-ic {
		width: 70px;
		height: 85px;
		top: 30px;
		margin-right: 15px;
	}
	.main-header.open .menu-show {
		top: 105px;
	}
	.main-header.open .menu-show.como {
		top: 153px;
	}

	.main-header.open .menu-show.pacotes {
		top: 201px;
	}
	.main-header.open .menu-show.contato {
		top: 249px;
	}
	.main-header.open .menu-show.login {
		top: 297px;
	}

	.main .main-banner, .main .main-banner .container{
		height: 350px;
	}
	.main .main-banner .container {
		background-size: 500px;
		background-position: left 150px;
	}
	.main .main-banner h2 {
		padding-top: 30px;
		font-size: 40px;
	}
	.main .main-banner h3 {
		font-size: 28px;
		padding-top: 10px;
		font-weight: 700;
	}
	.main .main-banner a {
		position: absolute;
		width: 180px;
		height: 53px;
		font-size: 12px;
		padding-top: 22px;
		right: 50px;
		top: 120px;
	}
	.main .main-search h2 {
		font-size: 28px;		
	}
	.main .main-search p {
		font-size: 28px;
		margin-bottom: 50px;
	}
	.main .main-search form {
		position: relative;

	}
	#btn-cidade, #btn-atividade, .menu-drop {
		float: left;
		width: auto;
		display: inline-block;
		height: 58px;
	}
	#btn-cidade {
		border-radius: 5px 0 0 5px;
		width: 	194px;
		padding-left: 45px;
	}
	.main .main-search form:before {
		font-family: 'icomoon';
		content: "\e901";
		display: block;
		position: absolute;
		font-size: 31px;
		top: 10px;
		left: 5px;
		color: #a9a9b1;
	}
	#btn-atividade {
		border-radius: 0px;
		margin-left: -2px;
		width: 	227px;
	}
	.menu-drop {
		width: 146px;
	}
	.menu-drop #btn-classe {
		border-radius: 0px;
		height: 58px;
		margin-left: -2px;
	}
	.main .main-search form .opt-class {
		width: 280px;
		left: 0px;
		top: 57px;
	}
	.main .main-search form small {
		clear: both;
		font-size: 20px;
		margin-bottom: 30px;
	}
	.main .main-search form button {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 156px;
		height: 58px;
		border-radius: 0 5px 5px 0;
	}
	.main .main-search form button span {
		margin-right: 7px;
	}
	.main .main-plans h2 {
		font-size: 54px;
		line-height: 48px;
		margin: 30px 0 16px 0;
	}
	.main .main-plans p {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.main .main-plans ul {
		position: relative;
		margin-bottom: 30px;
	}
	.main .main-plans ul li {
		width: 233px;
		height: 300px;
		display: inline-block;		
		padding: 45px 0;
		background: #F8F8F8;
		vertical-align: top;
		margin-right: 250px;
		margin-top: 20px;
	}
	.main .main-plans ul li a {
		background: #F8F8F8;
	}
	.main .main-plans ul li:first-child {
		position: absolute;
		z-index: 3;
		top: -20px;
		left: 50%;
		transform: translate(-50%, 0);
		background: #fff;
		margin-right: 0px;
		width: 266px;
		height: 342px;
		padding: 45px;
	}
	.main .main-plans ul li:last-child {
		padding: 45px 0;
		margin-right: 0px;
	}

	.main .main-plans ul li h3 {
		font-size: 24px;
		letter-spacing: 2px;
	}
	.main .main-plans ul li:first-child h3 {
		font-size: 30px;
	}
	.main .main-saing {
		padding: 70px 0;
	}
	.main .main-saing h3 {
		padding-left: 60px;
		font-size: 48px;
	}
	.main .main-saing small {
		font-size: 34px;
		padding-right: 100px;
	}
	.main .main-saing h3:before {
		font-size: 100px;
		top: 25px;
	}
	.main .main-map .container {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;

	}
	.main .main-map p {
		font-size: 20px;
		letter-spacing: 0px;
		line-height: 26px;
	}
	.main .main-social {
		padding: 60px 0;
	}
	.main-footer {
		padding-top: 40px;
	}
	.main-footer .main-contacts .logo-ic {
		width: 83px;
		height: 102px;
		position: absolute;
		top: -25px;
	}
	.main-footer .main-contacts small {
		margin-top: 20px;
		font-size: 14px;
	}
	.main-footer .main-contacts .newsletter>span {
		display: inline-block;
		font-size: 12px;
		letter-spacing: 2.4px;
		position: relative;
		right: -25px;
	}
	.main-footer .main-contacts .newsletter form {
		display: inline-block;
	}
	.main-footer .main-contacts .newsletter input {
		width: 223px;
		height: 51px;
		right: -53px;
		font-size: 14px;
		line-height: 26px;
		padding-right: 50px;
	}
	.main-footer .main-contacts .newsletter button {
		width: 48px;
		height: 48px;
		top: 3px;
		font-size: 20px;
	}

}
@media (min-width: 992px) {
	.main-header {
		height: 173px;
	}
	.main-header ul li {
		float: none;
		padding-left: 0px;
		vertical-align: top;
	}
	.main-header .logo {
		float: none;
		padding-left: 0px;
		display: inline-block;
	}
	.main-header ul li a {
		display: block;
		color: #FFF;
		text-transform: uppercase;
		padding: 20px 30px;
		letter-spacing: 1.87px;
		font-size: 14px;
		background: transparent;
		border-radius: 7px;
		transition: background 200ms ease-out;
	}
	.main-header ul li.xs-show {
		display: inline-block;
	}
	.main-header .logo {
		position: relative;
		top: 12px;
	}
	.main-header .logo a {
		padding: 0;
		background: transparent;
	}
	.main-header .logo a h1 {
		font-size: 30px;
		letter-spacing: 3px;
		top: -55px;
		margin-right: 30px;
	}
	.main-header .logo a h1 .logo-ic {
		width: 116px;
		height: 141px;
		margin-right: 20px;
		top: 60px;
	}
	.main-header ul li.quem, .main-header ul li.como, .main-header ul li.pacotes, .main-header ul li.contato, .main-header ul li.login {
		margin-top: 61px;
	}
	.main-header ul li.login a {
		background: #D0011B;
	}
	.main-header ul li a:hover {
		background: #D0011B;
	}
	.main .main-banner, .main .main-banner .container {
		height: 585px;
	}
	.main .main-banner .container {
		background-position: 0 220px;
		background-size: 1000px;
	}
	.main .main-banner h2 {
		font-size: 68px;
		letter-spacing: -1.5px;
		line-height: 68px;
		padding: 30px 0;
	}
	.main .main-banner h3 {
		font-size: 36px;
		letter-spacing: 0.69px;	
		padding: 0;	
	}
	.main .main-banner a {
		right: 30px;
		top: 320px;
		margin: 0;
		width: 230px;
		height: 68px;
		font-size: 14px;
		letter-spacing: 0.7px;
		padding-top: 28px;
		transition: background 200ms ease-out;
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main .main-banner a:hover {
		opacity: 1;
	}
	.main .main-banner a span {
		font-size: 13px;
		width: 32px;
		height: 32px;
		padding: 6px;
	}
	.main .main-banner a span:before {
		position: relative;
		left: 1px;
	}
	.main .main-search h2 {
		font-size: 64px;
		margin: 10px 0 0 0;
	}
	.main .main-search p {
		font-size: 36px;
		width: 890px;
		margin: 25px auto 75px auto;
		display: block;
	}
	.main .main-search form {
		width: 1024px;
		margin: 0 auto;
		display: block;
	}
	#btn-cidade {
		width: 295px;
		height: 68px;
		font-size: 24px;
		line-height: 68px;
	}
	#btn-atividade {
		width: 340px;
		height: 68px;
		font-size: 24px;
		line-height: 68px;
	}
	.menu-drop {
		width: 208px;
	}
	.menu-drop #btn-classe {
		height: 68px;
		font-size: 24px;
	}
	.main .main-search form button {
		width: 184px;
		height: 68px;
		line-height: 68px;
		padding-top: 0px;
		opacity: 0.9;
		outline: none;
		transition: opacity 200ms ease-out;
	}
	.main .main-search form button:hover {
		opacity: 1
	}
	.main .main-search form:before {
		top: 15px;
	}
	.main .main-search form .opt-class {
		left: -1px;
		top: 67px;
	}
	.main .main-search form .opt-class input:after {
		transition: background 200ms ease-out;
	}
	.main .main-search form .opt-class input:hover:after {
		background: #4990E2;
	}
	.main .main-plans h2 {
		font-size: 64px;
		line-height: 48px;
		margin: 40px 0 22px 0;
	}
	.main .main-plans p {
		font-size: 24px;
		line-height: 26px;
		width: 650px;
		margin: 0 auto 50px auto;
	}
	.main .main-plans ul li {
		width: 310px;
		height: 400px;
	}
	.main .main-plans ul li:first-child {
		width: 355px;
		height: 455px;
		top: -27px;
	}
	.main .main-plans ul li a {
		padding: 14px;
		transition: all 200ms ease-out;
	}
	.main .main-plans ul li a:hover {
		color: #FFFFFF;
		background: #D0011B;
		border: 1px solid #D0011B;
	}
	.main .main-plans ul li h4 {
		margin: 10px auto 35px auto;
	}
	.main .main-plans ul li h5 {
		margin-bottom: 56px;
	}
	.main .main-saing h3 {
		width: 780px;
		margin: 0 auto;
		display: block;
	}
	.main .main-saing span {
		left: 190px;
	}
	.main .main-saing small {
		padding-right: 0;
		width: 780px;
		margin: 30px auto 0 auto;
	}
	.main .main-map p {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.2px;
	}
	.main .main-map .container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.main .main-map .product-photo {
		height: 355px;
	}
	.main .main-social li a {
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main .main-social li a:hover {
		opacity: 1;
	}
	.main-footer .main-contacts .newsletter form, .main-footer .main-contacts .newsletter>span{
		display: block;
	}
	.main-footer .main-contacts .newsletter>span {
		margin-bottom: 20px;
		right: 0px;
	}
	.main-footer .main-contacts .newsletter form {
		position: relative;
		right: 0px;
		height: 53px;
	}
	.main-footer .main-contacts .newsletter input {
		right: 0px;
	}
	.main-footer .main-contacts .newsletter button {
		top: -47px;
		outline: none;
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main-footer .main-contacts .newsletter button:hover {
		opacity: 1;
	}
	
	.main-footer .main-contacts .site-map ul li {
		vertical-align: top;
		display: inline-block;
		margin: 0 30px;
	}
	.main-footer .main-contacts .site-map ul li a {
		font-size: 12px;
		letter-spacing: 2.4px;
		color: #fff;
		padding: 11px;
		border-radius: 30px;
		background: #2C2C2C ;
		text-transform: uppercase;
		transition: background 200ms ease-out;
	}
	.main-footer .main-contacts .site-map ul li a:hover {
		background: #353535;
	}
	.main-footer .main-contacts .site-map li:first-child, .main-footer .main-contacts .logo-ic {
		width: 50px;
		height: 90px;
	}
	.main-footer .main-contacts .site-map li:first-child {
		margin-left: 0px;
	}
	.main-footer .main-contacts .newsletter {
		padding-top: 13px;
	}
}