@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url("reset.css");
@import url("grid.css");
@import url("usable.css");

.main-header {
	background: #4A4A4A;
}

.main-header .menu {
	float: left;
	width: 67px;
	border-right: 1px solid #9B9B9B ;
	height: 67px;
	margin-left: -15px;
}

.main-header .menu a {
	color: #9B9B9B;
	font-size: 26px;
	line-height: 26px;
	display: block;
	padding: 20px 18px;
	text-align: center;
}

.main-header.open .menu a {
	color: #fff;
}

.main-header .logo {
	float: left;
	padding-left: 20px;
}

.main-header .logo a {
	color: #fff;
}


.main-header .logo a h1 {
	margin: 0;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	top: -10px;
	padding-bottom: 10px;
}

.main-header .logo a h1 .logo-ic {
	width: 40px;
	height: 52px;
	display: inline-block;
	background: url("../img/logo.svg") no-repeat 50% 50%;
	background-size: 100%;
	margin-right: 6px;
	position: relative;
	top: 18px;
}

.main-header.open .menu-show {
	display: block;
	position: absolute;
	width: 100%;
	top: 66px;
	margin: 0 -15px;
	z-index: 30;
	background: #fff;
	padding: 15px;
	outline: black solid 1px
}
.main-header.open .menu-show.como {
	top: 115px;
}

.main-header.open .menu-show.pacotes {
	top: 164px;
}

.main-header.open .menu-show.contato {
	top: 213px;
}

.main-header.open .menu-show.login {
	top: 262px;
}

.main-header.open .menu-show a {
	color: #6d6c6c;
	display: block;
	text-transform: uppercase;
}

.main .main-social {
	text-align: center;
	padding: 38px 0;
	font-size: 30px;
}
.main .main-social li {
	display: inline-block;
	margin: 0 25px;
}
.main .main-social .facebook a {
	color: #455b96;
}

.main .main-social .twitter a {
	color: #5baaec;
}

.main .main-social .linkedin a {
	color: #fff;
	background: #4983b8;
	border-radius: 3px;
	width: 32px;
	height: 30px;
	font-size: 23px;
	padding: 2px 4px;
	position: relative;
	top: -5px;
}

.main-footer {
	background: #2C2C2C;
	padding: 18px 0;
	color: #FFFFFF;
}
.main-footer .main-contacts {
	position: relative;
}
.main-footer .main-contacts a {
	display: block;
}
.main-footer .main-contacts .logo-ic {
	width: 49px;
	height: 60px;
	display: inline-block;
	background: url("../img/logo.svg") no-repeat 50% 50%;
	background-size: 100%;
	margin-right: 6px;
	position: relative;
	top: 0px;
}

.main-footer .main-contacts .newsletter {
	text-align: right;
}

.main-footer .main-contacts .newsletter input {
	background: #353535;
	border-radius: 100px;
	width: 104px;
	height: 24px;
	padding: 0 24px 0 14px ;
	display: inline-block;
	border: 0px none;
	font-size: 10px;
	position: relative;
	z-index: 2;
	right: -24px;
	top:2px;
	outline: none;
}

.main-footer .main-contacts .newsletter button {
	font-size: 8px;
	width: 24px;
	height: 24px;
	background: #4990E2;
	border-radius: 100px;
	position: relative;
	z-index: 3;
	border: 0px none;
}

.main-footer .main-contacts .newsletter>span {
	font-size: 9px;
	color: #FFFFFF;
	letter-spacing: 1.8px;
	font-weight: 700;
	display: block;
	margin-bottom: 9px;
}

.main-footer .main-contacts small {
	font-size: 10px;
	color: #9B9B9B;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
	display: block;
	margin-top: 5px;
}


/* Home */

.main .main-banner {

	height: 187px;
	background: #e3e3e3;
	background: -moz-linear-gradient(45deg,  #e3e3e3 0%, #f6f6f6 100%);
	background: -webkit-linear-gradient(45deg,  #e3e3e3 0%,#f6f6f6 100%);
	background: linear-gradient(45deg,  #e3e3e3 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f6f6f6',GradientType=1 );
	text-align: center;
}

.main .main-banner .container {
	background: url("../img/bg-mapa.png") no-repeat 0 bottom;
	background-size: 100% ;
}

.main .main-banner h2 {
	text-align: center;
	margin: 0;
	padding-top: 15px;
	font-weight: 900;
	font-size: 16px;
}

.main .main-banner h3 {
	text-align: center;
	margin: 0;
	padding-top: 5px;
	font-weight: 400;
	font-size: 11px;
}

.main .main-banner a {
	display: inline-block;
	font-weight: 900;
	font-size: 10px;
	line-height: 10px;
	padding: 15px 17px;
	background: #D0021B ;
	border-radius: 8px;
	color: #fff;
	margin-top: 85px;
	position: relative;
	top: 30px;
}


.main .main-banner a span {
	font-size: 10px;
	width: 18px;
	height: 20px;
	border-radius: 100px;
	padding: 3px 2px 3px 5px;
	border: 3px solid #fff;
	margin-right: 12px;
}

.main .main-search {
	padding: 30px 0;
	text-align: center;
}

.main .main-search h2 {
	font-weight: 900;
	margin: 20px 0 10px 0;
	font-size: 18px;
}

.main .main-search p {
	font-weight: 300;
	font-size: 12px;
}
.main .main-search p strong {
	text-transform: uppercase;
	font-weight: 700;
}

.main .main-search form input, .main .main-search form select {
	width: 100%;
	height: 50px;
	margin-bottom: 12px;
	border-radius: 5px;
	border: 1px solid #9B9B9B;
	font-size: 18px;
	color: #B5B8BB ;
	font-family: "Lato", sans-serif;
	padding: 0 20px;
	outline: none;
	background: white;
}

.main .main-search form input::-webkit-input-placeholder {
	color: #B5B8BB;
}
.main .main-search form input::-moz-placeholder {
	color: #B5B8BB;
}
.main .main-search form input:-ms-input-placeholder {
	color: #B5B8BB;
}
.main .main-search form input:-moz-placeholder {
	color: #B5B8BB;
}
.main .main-search form input::placeholder {
	color: #B5B8BB;
}

.main .main-search form small {
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #4A4A4A ;
	margin-bottom: 14px;
}

.main .main-search form button {
	background: #4990E2 ;
	color: #fff;
	border-radius: 4px;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 2.48px;
	line-height: 26px;
	border: 0px none;
	padding: 4px 14px 10px 14px;
	text-transform: uppercase;
	cursor: pointer;
}

.main .main-search form button span {
	margin-right: 13px;
	font-size: 26px;
	line-height: 26px;
	position: relative;
	top: 5px;
}

.main .main-search form .menu-drop {
	position: relative;
}

.main .main-search form .opt-class {
	position: absolute;
	background: #F1F1F1;
	border: 1px solid #979797;
	padding: 20px;
	z-index: 12;
	width: 280px;
	top: 49px;
	width: 100%;
	width: calc(100% - 8px);
	left: 4px;
	border-radius: 0 0 5px 5px;
	display: none;
}

.main .main-search form.open .opt-class {
	display: block;
}

.main .main-search form .opt-class h3 {
	margin: 0px;
	text-align: left;
	font-size: 18px;
	color: #4A4A4A;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom:1px solid #979797;
}

.main .main-search form .opt-class ul {
	text-align: left;
}

.main .main-search form .opt-class ul li {
	display: block;
	height: 30px;
	margin-top: 25px;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 30px;
	position: relative;
}
.main .main-search form .opt-class ul li strong {
	font-weight: 400;
	position: relative;
	top: -8px;
}

.main .main-search form .opt-class input {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px 20px 0 0;
	padding: 0px;
	position: relative;
}

.main .main-search form .opt-class input:after {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid #4990E2;
	border-radius: 4px;
	display: block;
	content: "";

}
.main .main-search form .opt-class input:checked:after {
	background: #4990E2;
}

.main .main-search form .opt-class input:checked {
	background: #4990E2;
}

.main .main-plans {
	background: #6D6C6C;
	text-align: center;
	padding-bottom: 30px;
}

.main .main-plans h2 {
	font-weight: 900;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;
	margin: 38px 0 10px 0 ;
}

.main .main-plans p {
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 20px;
	margin: 0 0 40px 0;
}

.main .main-plans ul li {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 6px;
	padding: 27px 17px 35px 17px;
	margin-bottom: 26px;

}

.main .main-plans ul li h3 {
	font-weight: 900;
	font-size: 30px;
	color: #212121;
	letter-spacing: 2px;
	margin: 0 0 6px 0;
}

.main .main-plans ul li h4 {
	font-weight: 400;
	font-size: 65px;
	color: #212121;
	margin: 0 0 6px 0;
}
.main .main-plans ul li h4 span {
	font-size: 30px;
	line-height: 48px;
	position: relative;
	top: -20px;
}

.main .main-plans ul li h5 {
	font-size: 20px;
	color: #4A4A4A;
	font-weight: 400;
	margin: 0 0 26px 0;
}

.main .main-plans ul li a {
	border-radius: 100px;
	font-size: 12px;
	letter-spacing: 2.4px;
	padding: 13px 6px;
	text-transform: uppercase;
	display: inline-block;
	color: #525252;
	background: #ffffff;
	border: 1px solid #525252 ;
}
.main .main-plans ul li:first-child a {
	color: #FFFFFF;
	background: #D0011B;
	border: 1px solid #D0011B ;
}

.main .main-saing {
	padding: 38px 0;
	position: relative;
}

.main .main-saing h3 {
	font-size: 23px;
	color: #4A4A4A;
	font-weight: 900;
	margin: 0;
	padding-left: 30px;
	position: relative;
}
.main .main-saing h3:before {
	content: "";
	width: 30px;
	height: 30px;
	color: #4990E2;
	display: block;
	position: absolute;
	left: -10px;
	top: 0px;
	background: url(../img/aspas.svg) no-repeat 50% 50%;
	background-size: 100%;
}

.main .main-saing small {
	display: block;
	clear: both;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	color: #4A4A4A;
	margin: 10px 0 0 0;
	text-align: right;
}


.main .main-map {
	background: #e1e1e1;
	text-align: center;
}

.main .main-map .product-photo {
	background: url(../img/img-block.jpg) no-repeat 50% 50%;
	background-size: 100%;
	height: 320px;
}


.main .main-map p {
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 1.2px;
	line-height: 17px;
	margin: 18px 0;
}


/* quem somos */

#quem-somos .inside h2 {
	font-size: 18px;
	color: #4A4A4A;
	margin: 16px 0;
	font-weight: 900;
}

#quem-somos .inside p {
	font-weight: 300;
	font-size: 14px;
	color: #4A4A4A;
	padding-bottom: 26px;
}

#quem-somos .inside p strong {
	font-size: 18px;
}

#quem-somos .inside .logo-quem-somos {
	width: 142px;
	margin: 30px auto;
	display: block;
}

/* como funciona */

#como-funciona .inside h2 {
	font-size: 18px;
	color: #4A4A4A;
	margin: 16px 0;
	font-weight: 900;
}

#como-funciona .inside h3 {
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing: 1.5px;
	line-height: 25px;
	font-weight: 400;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

#como-funciona .inside p {
	font-size: 14px;
	color: #4A4A4A;
	line-height: 17px;
	margin: 0 0 20px 0;
}

#como-funciona .inside img {
	display: block;
	margin: 10px auto 36px auto;
}

#como-funciona .inside .icon-pointer-black {
	font-size: 78px;
	color: #f8e71c;

}

#como-funciona .inside .icon-work {
	text-align: center;
}

#como-funciona .inside .icon-work>span:last-child {
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	background: #4a4a4a;
	border-radius: 100px;
	border: 10px solid #4a4a4a;
}

#como-funciona .inside .bt-funciona-f {
	border-radius: 100px;
	padding: 8px 45px;
	background: #4990E2 ;
	display: block;
	color: #fff;
	margin: 30px auto;
	font-size: 14px;
	letter-spacing: 1.4px;
	line-height: 17px;
	font-weight: 400;
	text-align: center;
}
#como-funciona .inside .bt-funciona-f strong {
	font-weight: 900;
}

/* Pacotes */

/* Contato */

#contato .inside h2 {
	font-weight: 900;
	font-size: 20px;
	color: #212121;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 17px;
}
#contato .inside p {
	font-size: 14px;
	color: #6C6C6C;
	letter-spacing: 0;
	line-height: 18px;
}

#contato .inside input, #contato .inside textarea {
	background: #F6F6F6;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 8px;
	font-family: "Lato", sans-serif;
	color: #6C6C6C;
	margin-bottom: 16px;
	width: 100%;
	height: 55px;
	position: relative;
	padding-left: 50px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	outline: none;
	z-index: 1;
}
#contato .inside textarea::-webkit-input-placeholder, #contato .inside input::-webkit-input-placeholder {
	color: #6C6C6C;
}

#contato .inside textarea {
	height: 135px;
	resize: none;
	padding: 8px;
}

#contato .inside .email:before, #contato .inside .user:before {
	content: "\e907";
	display: block;
	position: absolute;
	top: 18px;
	left: 33px;
	color: #6C6C6C ;
	font-size: 18px;
	font-family: 'icomoon';
	z-index: 2;
}

#contato .inside .user:before {
	content: "\e90e";
}

#contato .inside button {
	background: #4990E2;
	border-radius: 100px;
	width: 160px;
	height: 46px;
	border: 0px none;
	float: right;
	clear: both;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 2.4px;
	margin-bottom: 20px;
}

#contato .inside h3 {
	font-size: 14px;
	color: #9FA3A7;
	letter-spacing: 3.36px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 10px 0;
}
#contato .inside  .contato-fixo a {
	font-weight: 700;
	font-size: 14px;
	color: #212121;
	display: block;
}
#busca-avancada.main .main-search.inside {
	padding: 0;
}

/* busca avancada */

#busca-avancada .inside h2 {
	font-weight: 900;
	font-size: 20px;
	color: #4A4A4A;
	letter-spacing: -0.42px;
	line-height: 34px;
	margin: 0;
	text-align: left;
	margin: 16px 0;
}
#busca-avancada .adv-search.inside {
	background: #F1F1F1;
	margin-top: 30px;
}
#busca-avancada .adv-search.inside img {
	margin-left: -15px;
}

#busca-avancada .adv-search.inside h4 {
	font-weight: 700;
	font-size: 12px;
	color: #4A4A4A;
	letter-spacing: -0.07px;
	line-height: 14px;
	margin: 13px 0;
}
#busca-avancada .adv-search.inside .ocorrencias {
	text-align: right;
}
#busca-avancada .adv-search.inside span {
	border-radius: 10px;
	font-weight: 700;
	font-size: 10px;
	color: #4A4A4A;
	letter-spacing: -0.09px;
	display: inline-block;
	padding: 8px 11px;
	background: #fff;
	border: 1px solid #979797;
	margin-top: 10px;
}

#busca-avancada .adv-search.inside span strong {
	color: #D0011B;
	letter-spacing: -0.07px;
	font-weight: 700;
	font-size: 12px;
	margin-left: 10px;
}
#busca-avancada .adv-search.inside span.baixa strong {
	color: #F6A623;
}

#busca-avancada .adv-search-b.inside a {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 18px;
	font-weight: 400;
	background: #4990E2;
	border: 1px solid #979797;
	text-align: center;
	display: block;
	margin: 33px auto;
	padding: 16px 26px;
	border-radius: 20px;
}
#busca-avancada .adv-search.inside.control {
	margin-bottom: 44px;
}

#busca-avancada .adv-search.inside.control, #busca-avancada .adv-search.inside.control .ocorrencias {
	text-align: center;
}
#busca-avancada .adv-search.inside.control .ocorrencias {
	margin-bottom: 18px;
}

#busca-avancada h3 {
	font-size: 24px;
	color: #4A4A4A;
	letter-spacing: 0.56px;
	line-height: 36px;
	margin: 10px 0 0 0;
}
#busca-avancada .opt-class h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-top: 0px;
}

/* Carrinho */

#pagamento .main-pay.inside {
	padding: 40px 0;
}

#pagamento .main-pay.inside .time-pay {
	border-right: 1px solid #DCDDE1;
}

#pagamento .main-pay.inside .time-pay ul {
	counter-reset: counter;
	padding-top: 7px;
}

#pagamento .main-pay.inside .time-pay ul li {
	position: relative;
	font-size: 10px;

	letter-spacing: 2.4px;
	height: 88px;
	text-transform: uppercase;
	color: #9FA3A7;
}
#pagamento .main-pay.inside .time-pay ul li.open {
	color: #212121;
}
#pagamento .main-pay.inside .time-pay ul li:last-child {
	height: 25px;
}

#pagamento .main-pay.inside .time-pay ul li:before {
	counter-increment: counter;
	content: counter(counter);
	border-radius: 100px;
	background: #FFC80A;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 5px 8px;
	position: relative;
	top: 2px;
	margin-right: 10px;
}

#pagamento .main-pay.inside .time-pay ul li.open:before {
	background: #4990E2;
}

#pagamento .main-pay.inside .time-pay ul li:after {
	width: 1px;
	height: 63px;
	background: #FFC80A;
	position: absolute;
	top: 21px;
	left: 12px;
	content: "";
}
#pagamento .main-pay.inside .time-pay ul li:last-child:after {
	display: none;
}

#pagamento .main-pay.inside .time-pay ul li.open:after {
	background: #4990E2;
}

#pagamento .main-pay.inside .holder-pay i {
	display: block;
	font-style: normal;
	margin: 7px 0 12px 0;
	font-size: 10px;
	color: #9FA3A7;
	letter-spacing: 2.4px;
	font-weight: 400;
	text-transform: uppercase;
}
#pagamento .main-pay.inside .holder-pay ul {
	margin-bottom: 44px;
}

#pagamento .main-pay.inside .holder-pay ul li {
	position: relative;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-c strong{
	font-size: 14px;
	color: #2C2C2C;
	line-height: 14px;
	text-transform: uppercase;
	background: #DCDDE1;
	padding: 7px;
	margin: 10px 7px 26px 0;
	display: inline-block;
	position: relative;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-c strong:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 7px;
	border-color: transparent transparent transparent #dcdde1;
	right: -7px;
	top: -1px;
	display: block;
	content: "";
	position: absolute;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-p strong{
	display: block;
	margin-bottom: 26px;
	font-size: 16px;
	color: #212121;
	font-weight: 400;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-q span {
	display: block;
	position: relative;
	width: 98px;
	height: 33px;
	border-radius: 30px;
	border: 2px solid #eee;
	margin-bottom: 25px;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-q span a {
	width: 15px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	text-align: center;
	font-size: 22px;
	color: #9FA3A7;
	position: relative;
	top: 2px;
	padding: 0 12px;
}
#pagamento .main-pay.inside .holder-pay ul li.plano-q span input {
	border: 0px none;
	height: 29px;
	width: 30px;
	text-align: center;
	font-size: 12px;
	color: #212121;
	letter-spacing: 2.4px;
	font-family: "Lato";
	outline: none;
}

#pagamento .main-pay.inside .holder-pay ul li.plano-t strong{
	font-size: 16px;
	color: #212121;
	font-weight: 400;
	display: block;
	position: relative;
}
#pagamento .main-pay.inside .holder-pay ul li.plano-t strong a {
	width: 9px;
	height: 9px;
	border: 1px solid  #9FA3A7;
	line-height: 5px;
	font-size: 5px;
	color: #9FA3A7;
	border-radius: 100px;
	display: block;
	text-align: center;
	padding-top: 1px;
	position: absolute;
	top: 5px;
	right: 0px;
}
.bt-voltar, .bt-continuar {
	border: 2px solid #D8D8D8;
	font-weight: 700;
	font-size: 14px;
	color: #4E4E4E;
	letter-spacing: 0;
	line-height: 26px;
	border-radius: 24px;
	padding: 2px 20px;
	display: block;
	text-align: center;
	width: 135px;
	margin: 0 auto;
}
.bt-continuar {
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 2.4px;
	font-weight: 400;
	background: #4990E2;
	border: 2px solid #4990E2;
	text-transform: uppercase;
}

#pagamento .main-pay.inside .pay-using h2{
	font-size: 14px;
	color: #6C6C6C;
	font-weight: 700;
	margin: 8px 0 0 0;
}
#pagamento .main-pay.inside .pay-using span {
	font-size: 101px;
	line-height: 28px;
	color: #4990E2;
	padding: 8px 14px 5px 14px;
	text-align: center;
	border: 2px solid #F1F1F1;
	border-radius: 10px;
	display: block;
	margin-top: 23px;
}

#pagamento .main-pay.inside .alert-paypal {
	font-size: 14px;
	color: #9B9B9B;
	font-weight: 400;
	margin: 30px 0;
	background: #F1F1F1;
	padding: 12px;
	border-radius: 10px;
}

#pagamento .main-pay.inside .alert-paypal a {
	color: #9B9B9B;
	text-decoration: underline;
}

#pagamento .main-pay.inside .pay-create-acc h2 {
	font-size: 12px;
	color: #9FA3A7;
	letter-spacing: 2.4px;
	font-weight: 400;
	margin: 0 0 15px 0;
}

#pagamento .main-pay.inside .pay-create-acc input {
	background: #FAFAFA;
	border: 1px solid #E6E6E6;
	padding: 10px 14px;
	border-radius: 5px;
	font-size: 12px;
	color: #292929;
	font-family: "Lato";
	line-height: 12px;
	margin-bottom: 23px;
	width: 100%;
	display: block;
}

#pagamento .main-pay.inside .pay-create-acc label {
	font-family: "Lato";
	font-size: 12px;
	color: #212121;
	letter-spacing: 0;
	line-height: 12px;
	position: relative;
	top: -5px;
	display: inline-block;
	margin-left: 5px;
}
#pagamento .main-pay.inside .pay-create-acc #pay-login {
	display: inline-block;
	margin: 0;
	width: auto;
	color: #4990E2;
	font-size: 18px;
	height: 18px;
	width: 18px;
}

#pagamento .main-pay.inside .pay-log-in .bt-continuar {
	margin-top: 33px;
}
#pagamento .main-pay.inside .pay-log-facebook .bt-continuar {
	width: auto ;
	margin: 33px 0;
	padding: 7px 10px;
}

#pagamento .main-pay.inside .pay-log-facebook .bt-continuar span {
	position: relative;
	font-size: 19px;
	top: 2px;
}

#pagamento .main-pay.inside .pay-ok {
	text-align: center;
}

#pagamento .main-pay.inside .pay-ok span {
	width: 57px;
	height: 57px;
	border: 3px solid #FFC80A;
	color: #FFC80A;
	font-size: 25px;
	line-height: 53px;
	border-radius: 100px;
	display: block;
	vertical-align: middle;
	margin: 0 auto;
}

#pagamento .main-pay.inside .pay-ok h2 {
	font-size: 23px;
	color: #212121;
	font-weight: 400;
	line-height: 30px;
	margin: 33px 0 0 0;
}

#pagamento .main-pay.inside .pay-ok p {
	font-size: 14px;
	color: #9FA3A7;
	line-height: 20px;
	margin: 30px 0 60px 0;
}

#pagamento .main-pay.inside .pay-ok .bt-voltar-home {
	font-size: 12px;
	color: #212121;
	letter-spacing: 2.4px;
	font-weight: 400;
	padding: 15px;
	border: 3px solid #FFC80A;
	border-radius: 24px;
}

/* Login */

#login .inside h2{
	font-size: 18px;
	color: #4A4A4A;
	margin: 16px 0;
	font-weight: 900;
}

#login .inside p {
	font-size: 14px;
	color: #6C6C6C;
	font-weight: 400;
}

#login .inside input {
	background: #FAFAFA;
	border: 1px solid #E6E6E6;
	padding: 10px 14px;
	border-radius: 5px;
	font-size: 12px;
	color: #292929;
	font-family: "Lato";
	line-height: 12px;
	margin-bottom: 23px;
	width: 100%;
	display: block;
	margin-bottom: 27px;
}

#login .inside button.bt-continuar.facebook {
	width: auto;
	margin: 33px auto;
	padding: 7px 15px;
}

#login.main .esqueci a {
	text-decoration: underline;
}

/* perfil */

#profile .inside h2 {
	font-weight: 900;
	font-size: 34px;
	color: #4A4A4A;
	letter-spacing: -0.71px;
	line-height: 34px;
	margin-top: 25px;
}
#profile .inside h3 {
	margin: 25px 0;
	font-size: 14px;
	color: #9FA3A7;
	letter-spacing: 2.8px;
	font-weight: 300;
}
#profile .inside h4 {
	font-size: 20px;
	color: #4A4A4A;
	letter-spacing: 4px;
	font-weight: 400;
}

#profile .inside label {
	display: block;
	padding-left: 10px;
	font-weight: 400;
	font-size: 14px;
	color: #292929;
	letter-spacing: 0;
	line-height: 26px;
}

#profile .inside input {
	background: #FAFAFA;
	border: 1px solid #E6E6E6;
	padding: 10px 14px;
	border-radius: 5px;
	font-size: 12px;
	color: #292929;
	font-family: "Lato";
	line-height: 12px;
	width: 100%;
	display: block;
	margin: 10px 0;
}

#profile .inside button {
	width: auto;
	margin: 40px auto 10px auto;
}

#gmap {
	height: 350px;
}

@media (min-width: 768px) {
	.main-header .menu {
		width: 104px;
		height: 104px;
		position: relative;
		left: -15px;
	}
	.main-header .menu a {
		font-size: 40px;
		line-height: 40px;
		padding-top: 30px;
		padding-bottom: 32px;
	}
	.main-header .logo a h1 {
		font-size: 35px;
		letter-spacing: 3.5px;
		top: -20px;
	}
	.main-header .logo a h1 .logo-ic {
		width: 70px;
		height: 88px;
		top: 27px;
		margin-right: 15px;
	}
	.main-header.open .menu-show {
		top: 105px;
	}
	.main-header.open .menu-show.como {
		top: 153px;
	}

	.main-header.open .menu-show.pacotes {
		top: 201px;
	}
	.main-header.open .menu-show.contato {
		top: 249px;
	}
	.main-header.open .menu-show.login {
		top: 297px;
	}

	.main .main-banner, .main .main-banner .container{
		height: 350px;
	}
	.main .main-banner .container {
		background-size: 500px;
		background-position: left 150px;
	}
	.main .main-banner h2 {
		padding-top: 30px;
		font-size: 40px;
	}
	.main .main-banner h3 {
		font-size: 28px;
		padding-top: 10px;
		font-weight: 700;
	}
	.main .main-banner a {
		position: absolute;
		width: 180px;
		height: 53px;
		font-size: 12px;
		padding-top: 22px;
		right: 50px;
		top: 120px;
	}
	.main .main-search h2 {
		font-size: 28px;
	}
	.main .main-search p {
		font-size: 28px;
		margin-bottom: 50px;
	}
	.main .main-search form {
		position: relative;

	}
	#btn-cidade, #btn-atividade, .menu-drop {
		float: left;
		width: auto;
		display: inline-block;
		height: 58px;
	}
	#btn-cidade {
		border-radius: 5px 0 0 5px;
		width: 	194px;
		padding-left: 45px;
	}
	#btn-cidade option {
		padding-left: 0;
	}
	.main .main-search form:before {
		font-family: 'icomoon';
		content: "\e901";
		display: block;
		position: absolute;
		font-size: 31px;
		top: 10px;
		left: 5px;
		color: #a9a9b1;
	}
	#btn-atividade {
		border-radius: 0px;
		margin-left: -2px;
		width: 	227px;
	}
	.menu-drop {
		width: 146px;
	}
	.menu-drop #btn-classe {
		border-radius: 0px;
		height: 58px;
		margin-left: -2px;
	}
	.main .main-search form .opt-class {
		width: 280px;
		left: 0px;
		top: 57px;
	}
	.main .main-search form small {
		clear: both;
		font-size: 20px;
		margin-bottom: 30px;
	}
	.main .main-search form button {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 156px;
		height: 58px;
		border-radius: 0 5px 5px 0;
	}
	.main .main-search form button span {
		margin-right: 7px;
	}
	.main .main-plans h2 {
		font-size: 54px;
		line-height: 48px;
		margin: 30px 0 16px 0;
	}
	.main .main-plans p {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.main .main-plans ul {
		position: relative;
		margin-bottom: 30px;
	}
	.main .main-plans ul li {
		width: 233px;
		height: 300px;
		display: inline-block;
		padding: 45px 0;
		background: #F8F8F8;
		vertical-align: top;
		margin-right: 250px;
		margin-top: 20px;
	}
	.main .main-plans ul li a {
		background: #F8F8F8;
	}
	.main .main-plans ul li:first-child {
		position: absolute;
		z-index: 3;
		top: -20px;
		left: 50%;
		transform: translate(-50%, 0);
		background: #fff;
		margin-right: 0px;
		width: 266px;
		height: 342px;
		padding: 45px;
	}
	.main .main-plans ul li:last-child {
		padding: 45px 0;
		margin-right: 0px;
	}

	.main .main-plans ul li h3 {
		font-size: 24px;
		letter-spacing: 2px;
	}
	.main .main-plans ul li:first-child h3 {
		font-size: 30px;
	}
	.main .main-saing {
		padding: 70px 0;
	}
	.main .main-saing h3 {
		padding-left: 60px;
		font-size: 48px;
	}
	.main .main-saing small {
		font-size: 34px;
		padding-right: 100px;
	}
	.main .main-saing h3:before {
		width: 50px;
		height: 50px;
		top: 10px;
	}
	.main .main-map .container {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;

	}
	.main .main-map p {
		font-size: 20px;
		letter-spacing: 0px;
		line-height: 26px;
	}
	.main .main-social {
		padding: 60px 0;
	}
	.main-footer {
		padding-top: 40px;
	}
	.main-footer .main-contacts .logo-ic {
		width: 83px;
		height: 102px;
		position: absolute;
		top: -25px;
	}
	.main-footer .main-contacts small {
		margin-top: 20px;
		font-size: 14px;
	}
	.main-footer .main-contacts .newsletter>span {
		display: inline-block;
		font-size: 12px;
		letter-spacing: 2.4px;
		position: relative;
		right: -25px;
	}
	.main-footer .main-contacts .newsletter form {
		display: inline-block;
	}
	.main-footer .main-contacts .newsletter input {
		width: 223px;
		height: 51px;
		right: -53px;
		font-size: 14px;
		line-height: 26px;
		padding-right: 50px;
	}
	.main-footer .main-contacts .newsletter button {
		width: 48px;
		height: 48px;
		top: 3px;
		font-size: 20px;
	}
	/* quem somos */
	#quem-somos .inside .logo-quem-somos {
		margin: 0;
		width: 203px;
		height: 247px;
	}
	#quem-somos .inside p.text-floater {
		margin-right: 0px;
		float: left;
		width: 100%;
		width: calc(100% - 203px);
	}
	#quem-somos .inside p {
		font-size: 20px;
	}
	#quem-somos .inside h2 {
		font-size: 34px;
		margin: 36px 0;
	}
	#quem-somos .inside p strong {
		font-size: 25px;
	}
	/* busca avancada */

	#busca-avancada .inside h2 {
		font-size: 34px;
		margin: 36px 0;
	}
	#busca-avancada .adv-search.inside img {
		margin: 0;
		width: 100%;
	}
	#busca-avancada .adv-search.inside h4 {
		font-size: 24px;
		color: #4A4A4A;
		letter-spacing: 0.56px;
		line-height: 36px;
		text-align: left;
		padding-top: 10px;
	}
	#busca-avancada .adv-search.inside span {
		display: block;
		font-size: 20px;
		letter-spacing: -0.11px;
	}
	#busca-avancada .adv-search.inside span strong {
		font-size: 24px;
	}
	/* planos */
	#pacotes.main .main-plans {
		background: url(../img/bg-lunch-outside.jpg) 50% 50% no-repeat;
		background-size: 100%;
	}
	#pacotes.main .main-plans h2 {
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		margin: 20px 0 16px 0;
	}
	#pacotes.main .main-plans p {
		color: #4A4A4A;
	}
	#pacotes.main .main-plans span.icon-paypal {
		color: #fff;
		font-size: 95px;
		line-height: 95px;
	}
	#busca-avancada .adv-search.inside span {
		text-align: center;
	}
	#busca-avancada .adv-search-b.inside a {
		width: 480px;
		font-size: 26px;
		letter-spacing: 1.56px;
		line-height: 43px;
	}
	/* como funciona */
	#como-funciona .inside h2 {
		font-size: 34px;
		letter-spacing: -0.71px;
		line-height: 34px;
		margin: 35px 0;
	}
	#como-funciona .inside h3 {
		font-size: 24px;
		letter-spacing: 2px;
		line-height: 25px;
	}
	#como-funciona .inside .icon-pointer-black {
		font-size: 148px;
	}
	#como-funciona .inside .icon-work>span:last-child {
		font-size: 60px;
		top: 20px;
	}
	#como-funciona .inside img {
		position: relative;
		left: 95px;
		width: 410px;
	}
	#como-funciona .inside p {
		font-size: 19px;
		line-height: 23px;
	}
	#como-funciona .inside .bt-funciona-f {
		width: 300px;
	}
	/* contato */
	#contato .inside h2 {
		font-size: 34px;
		line-height: 34px;
		margin: 35px 0;
	}
	#contato .inside p {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 30px;
	}
	#contato .inside input {
		margin-bottom: 30px;
	}
	#contato .inside textarea {
		margin-bottom: 30px;
		height: 255px;
	}
	#contato .inside h3 {
		font-size: 18px;
		letter-spacing: 4.32px;
		margin-top: 20px;
	}
	#contato .inside .contato-fixo {
		position: relative;
		top: -75px;
	}
	#contato .inside  .contato-fixo a {
		font-size: 18px;
	}
	/* carrinho */
	#pagamento .main-pay.inside .time-pay ul li {
		height: 65px;
		display: inline-block;
		padding-top: 45px;
		width: 25%;
		float: left;
		text-align: center;
		font-size: 10px;
	}
	#pagamento .main-pay.inside .time-pay ul li:before {
		position: absolute;
		font-size: 12px;
		width: 25px;
		height: 25px;
		margin:  0px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	#pagamento .main-pay.inside .time-pay ul li:after {
		width: 159px;
		height: 1px;
		top: 14px;
		left: 99px;
	}
	#pagamento .main-pay.inside .time-pay {
		border: 0px none;
	}
	#pagamento .main-pay.inside .holder-pay ul {
		display: block;
		clear: both;
		margin-bottom: 100px;
		overflow: hidden;
	}
	#pagamento .main-pay.inside .holder-pay ul li {
		float: left;
		width: 25%;
		height: 95px;
		border-bottom: 1px solid #DCDDE1;
	}
	#pagamento .main-pay.inside .holder-pay i {
		padding-bottom: 7px;
		border-bottom: 1px solid #DCDDE1;
	}
	#pagamento .main-pay.inside .holder-pay ul li.plano-p strong {
		position: relative;
		top: 10px;
	}
	#pagamento .main-pay.inside .holder-pay ul li.plano-q span {
		top: 5px;
	}
	#pagamento .main-pay.inside .holder-pay ul li.plano-t strong {
		top: 10px;
	}
	#pagamento .main-pay.inside .holder-pay ul li.plano-t strong a {
		right: 80px;
	}
	#pagamento .main-pay.inside .prize-repeat {
		text-align: center;
	}
	#pagamento .main-pay.inside .prize-repeat i {
		font-style: normal;
		display: block;
		font-size: 10px;
		color: #9FA3A7;
		letter-spacing: 2.4px;
		font-weight: 400;
		margin-bottom: 6px;
		text-transform: uppercase;
		position: relative;
		top: -20px;
	}
	#pagamento .main-pay.inside .prize-repeat strong {
		font-size: 36px;
		color: #292929;
		font-weight: 400;
		line-height: 36px;
		position: relative;
		top: -20px;
	}
	#pagamento .main-pay.inside .pay-using {
		padding-top: 50px;
	}
	#pagamento .main-pay.inside .pay-using h2 {
		display: inline-block;
		font-size: 18px;
		vertical-align: top;
		margin-top: 20px;
	}
	#pagamento .main-pay.inside .pay-using span {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 20px;
		font-size: 150px;
		line-height: 50px;
	}
	#pagamento .main-pay.inside .alert-paypal {
		font-size: 18px;
		width: 500px;
	}
	#pagamento .main-pay.inside .bt-left .bt-voltar {
		margin: 30px 0;
	}
	#pagamento .main-pay.inside .pay-create-acc input {
		width: 320px;
	}
	#pagamento .main-pay.inside .pay-create-acc .acc-info {
		width: 50%;
		float: left;
		margin-top: 40px;
	}
	#pagamento .main-pay.inside .pay-log-facebook .bt-continuar  {
		position: relative;
		top: -5px;
	}
	#pagamento .main-pay.inside .pay-ok {
		width: 400px;
		margin: 0px auto;
		float: none;
		clear: both;
		padding-top: 40px;
	}
	#pagamento .main-pay.inside .pay-ok .bt-voltar-home {
		position: relative;
		top: -40px;
	}
	#pagamento .main-pay.inside .pay-ok p {
		margin-top: 0px;
	}
	/* login */
	#login {
		background:  url(../img/logo-o.svg) 50% 50% no-repeat;
		background-size: 500px;
		height: 768px;
	}

	#login .inside h2 {
		font-size: 34px;
		line-height: 34px;
		margin: 36px 0;
	}
	#login .inside p {
		font-size: 18px;
		margin-bottom: 36px;
	}
	#login .inside button {
		float: left;
	}
	#login .inside button.bt-continuar.facebook {
		float: right;
		position: relative;
		top: -3px;
		margin: 0;
	}
	#login.main .main-social {
		margin-top: 300px;
	}
	/* Perfil */

	#profile .inside .wp-xm {
		width: 320px;
		float: left;
		margin-right: 20px;
	}

	#profile .inside button {
		clear: both;
		margin: 40px 0px 10px 0px;
		position: relative;
		top: 30px;
	}
	#gmap {
		height: 500px;
	}


}
@media (min-width: 992px) {
	.main-header {
		height: 173px;
	}
	.main-header ul li {
		float: none;
		padding-left: 0px;
		vertical-align: top;
	}
	.main-header .logo {
		float: none;
		padding-left: 0px;
		display: inline-block;
	}
	.main-header ul {
		text-align: center;
	}
	.main-header ul li a {
		display: block;
		color: #FFF;
		text-transform: uppercase;
		padding: 20px 25px;
		letter-spacing: 1.87px;
		font-size: 14px;
		background: transparent;
		border-radius: 7px;
		transition: background 200ms ease-out;
	}
	.main-header ul li.xs-show {
		display: inline-block;
	}
	.main-header .logo {
		position: relative;
		top: 12px;
	}
	.main-header .logo a {
		padding: 0;
		background: transparent;
	}
	.main-header .logo a h1 {
		font-size: 30px;
		letter-spacing: 3px;
		top: -55px;
		margin-right: 30px;
	}
	.main-header .logo a h1 .logo-ic {
		width: 116px;
		height: 146px;
		margin-right: 20px;
		top: 56px;
	}
	.main-header ul li.quem, .main-header ul li.como, .main-header ul li.pacotes, .main-header ul li.contato, .main-header ul li.login {
		margin-top: 61px;
	}
	.main-header ul li.login a {
		background: #D0011B;
	}
	.main-header ul li a:hover {
		background: #D0011B;
	}
	.main-header .logo a:hover {
		background: transparent;
	}
	.main .main-banner, .main .main-banner .container {
		height: 585px;
	}
	.main .main-banner .container {
		background-position: 0 220px;
		background-size: 1000px;
	}
	.main .main-banner h2 {
		font-size: 68px;
		letter-spacing: -1.5px;
		line-height: 68px;
		padding: 30px 0;
	}
	.main .main-banner h3 {
		font-size: 36px;
		letter-spacing: 0.69px;
		padding: 0;
	}
	.main .main-banner a {
		right: 30px;
		top: 320px;
		margin: 0;
		width: 230px;
		height: 68px;
		font-size: 14px;
		letter-spacing: 0.7px;
		padding-top: 28px;
		transition: background 200ms ease-out;
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main .main-banner a:hover {
		opacity: 1;
	}
	.main .main-banner a span {
		font-size: 13px;
		width: 32px;
		height: 32px;
		padding: 6px;
	}
	.main .main-banner a span:before {
		position: relative;
		left: 1px;
	}
	.main .main-search h2 {
		font-size: 64px;
		margin: 10px 0 0 0;
	}
	.main .main-search p {
		font-size: 36px;
		width: 890px;
		margin: 25px auto 75px auto;
		display: block;
	}
	.main .main-search form {
		margin: 0 auto;
		display: block;
	}
	#btn-cidade {
		width: 411px;
		height: 68px;
		font-size: 24px;
		line-height: 68px;
	}
	#btn-atividade {
		width: 340px;
		height: 68px;
		font-size: 24px;
		line-height: 68px;
	}
	.menu-drop {
		width: 208px;
	}
	.menu-drop #btn-classe {
		height: 68px;
		font-size: 24px;
	}
	.main .main-search form button {
		width: 184px;
		height: 68px;
		line-height: 68px;
		padding-top: 0px;
		opacity: 0.9;
		outline: none;
		transition: opacity 200ms ease-out;
	}
	.main .main-search form button:hover {
		opacity: 1
	}
	.main .main-search form:before {
		top: 15px;
	}
	.main .main-search form .opt-class {
		left: -1px;
		top: 67px;
	}
	.main .main-search form .opt-class input:after {
		transition: background 200ms ease-out;
	}
	.main .main-search form .opt-class input:hover:after {
		background: #4990E2;
	}
	.main .main-plans h2 {
		font-size: 64px;
		line-height: 48px;
		margin: 40px 0 22px 0;
	}
	.main .main-plans p {
		font-size: 24px;
		line-height: 26px;
		width: 650px;
		margin: 0 auto 50px auto;
	}
	.main .main-plans ul li {
		width: 310px;
		height: 400px;
	}
	.main .main-plans ul li:first-child {
		width: 355px;
		height: 455px;
		top: -27px;
	}
	.main .main-plans ul li a {
		padding: 14px;
		transition: all 200ms ease-out;
	}
	.main .main-plans ul li a:hover {
		color: #FFFFFF;
		background: #D0011B;
		border: 1px solid #D0011B;
	}
	.main .main-plans ul li h4 {
		margin: 10px auto 35px auto;
	}
	.main .main-plans ul li h5 {
		margin-bottom: 56px;
	}
	.main .main-saing h3 {
		width: 780px;
		margin: 0 auto;
		display: block;
	}
	.main .main-saing span {
		left: 190px;
	}
	.main .main-saing small {
		padding-right: 0;
		width: 780px;
		margin: 30px auto 0 auto;
	}
	.main .main-map p {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.2px;
	}
	.main .main-map .container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.main .main-map .product-photo {
		height: 355px;
	}
	.main .main-social li a {
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main .main-social li a:hover {
		opacity: 1;
	}
	.main-footer .main-contacts .newsletter form, .main-footer .main-contacts .newsletter>span{
		display: block;
	}
	.main-footer .main-contacts .newsletter>span {
		margin-bottom: 20px;
		right: 0px;
	}
	.main-footer .main-contacts .newsletter form {
		position: relative;
		right: 0px;
		height: 53px;
	}
	.main-footer .main-contacts .newsletter input {
		right: 0px;
	}
	.main-footer .main-contacts .newsletter button {
		top: -47px;
		outline: none;
		opacity: 0.9;
		transition: opacity 200ms ease-out;
	}
	.main-footer .main-contacts .newsletter button:hover {
		opacity: 1;
	}

	.main-footer .main-contacts .site-map ul li {
		vertical-align: top;
		display: inline-block;
		margin: 0 30px;
	}
	.main-footer .main-contacts .site-map ul li a {
		font-size: 12px;
		letter-spacing: 2.4px;
		color: #fff;
		padding: 11px;
		border-radius: 30px;
		background: #2C2C2C ;
		text-transform: uppercase;
		transition: background 200ms ease-out;
	}
	.main-footer .main-contacts .site-map ul li a:hover {
		background: #353535;
	}
	.main-footer .main-contacts .site-map li:first-child, .main-footer .main-contacts .logo-ic {
		width: 50px;
		height: 90px;
	}
	.main-footer .main-contacts .site-map li:first-child {
		margin-left: 0px;
	}
	.main-footer .main-contacts .newsletter {
		padding-top: 13px;
	}
	/* planos */
	#pacotes.main .main-plans {
		background: none;
	}
	#pacotes.main {
		background: url(../img/bg-lunch-outside.jpg) 50% 50% no-repeat;
		background-size: cover;
		padding-top: 30px;
	}
	#pacotes.main .main-social {
		padding: 0;
	}
	#pacotes.main .main-social ul {
		background: #FFFFFF;
		border-radius: 100px;
		width: 330px;
		margin: 0 auto 66px auto;
		padding: 10px 0;
		display: block;
		float: none;
	}
	#pacotes.main .main-social li {
		margin: 0 ;
	}
	#pacotes.main .main-social li.twitter {
		margin: 0 90px;
	}
	/* como funciona */
	#como-funciona .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}
	#como-funciona .inside img {
		left: auto;
		width: 100%;
	}
	#como-funciona .inside .icon-pointer-black {
		font-size: 195px;
		position: relative;
		left: -15px;
	}
	#como-funciona .inside .icon-work>span:last-child {
		padding: 15px;
		top: 30px;
	}
	/* contato */
	#contato .inside form {
		position: relative;
		top: 160px;
		display: block;
	}
	#contato .inside .contato-fixo {
		top: -120px;
	}
	#contato.main .main-social {
		padding-top: 60px;
	}
	#contato .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}
	#contato .inside textarea {
		height: 180px;
	}
	/* quem somos */
	#quem-somos .inside .logo-quem-somos {
		display: none;
	}
	#quem-somos .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}
	#quem-somos .inside p {
		font-size: 36px;
	}
	#quem-somos .inside p.text-floater {
		float: none;
		width: auto;
	}
	#quem-somos .inside p strong {
		font-size: inherit;
		width: 740px;
		display: block;
	}
	/* busca avancada */
	#busca-avancada .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}
	#busca-avancada h3 {
		font-size: 48px;
		letter-spacing: 1.12px;
		line-height: 60px;
		margin-top: 40px;
	}
	#busca-avancada .adv-search.inside span {
		display: inline-block;
		margin-top: 25px;
		font-size: 20px;
	}
	#busca-avancada .adv-search.inside h4 {
		font-size: 36px;
		letter-spacing: -0.2px;
		line-height: 48px;
	}
	#busca-avancada .adv-search.inside span strong {
		font-size: 20px;
	}
	#busca-avancada.main .main-search form {
		position: relative;
		z-index: 3;
		top: 3px;
	}
	.main .main-search form small {
		text-align: left;
		margin-bottom: 10px;
	}
	#busca-avancada .adv-search.inside .ocorrencias.ocor-unica span {
		font-size: 36px;
		letter-spacing: -0.2px;
		line-height: 48px;
		padding-bottom: 10px;
		padding: 20px 30px;
		margin-top: 20px;
	}
	#busca-avancada .adv-search.inside .ocorrencias.ocor-unica span strong {
		font-size: 48px;
		letter-spacing: -0.27px;
	}
	#busca-avancada .adv-search-b.inside a {
		font-size: 36px;
		letter-spacing: 2.16px;
		line-height: 43px;
		width: 650px;
		margin: 60px auto ;
	}
	/* carrinho */
	#pagamento .main-pay.inside .time-pay ul li:after {
		width: 260px;
		left: 155px;
		height: 2px;
	}
	#pagamento .main-pay.inside .pay-create-acc .acc-info {
		width: 60%;
	}
	#pagamento .main-pay.inside .pay-create-acc .acc-info.acc-info-2 {
		width: 40%;
	}
	#pagamento .main-pay.inside .pay-create-acc input {
		float: left;
		margin-right: 20px;
	}
	#pagamento .main-pay.inside .pay-log-in .bt-continuar {
		margin-left: 0;
	}
	#pagamento .main-pay.inside .pay-log-facebook .bt-continuar {
		display: inline-block;
		left: 50px;
	}
	#pagamento .main-pay.inside .pay-log-boltar .bt-voltar {
		margin: 50px 0 0 0;
	}
	/* login */
	#login {
		height: auto;
		background-position:  90% 50%;
	}
	#login .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}
	#login.main .main-social {
		margin-top: 100px;
		position: relative;
		top: -50px;
	}

	/* perfil */
	#profile .inside h2 {
		font-size: 64px;
		letter-spacing: -1.33px;
		line-height: 64px;
		margin: 50px 0;
	}

}
