body {
	font: 16px / 1.2 "Lato", sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a:hover {
	text-decoration: none;
}

input {
	outline: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
[role="button"] {
	cursor: pointer;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-rounded {
	border-radius: 6px;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.img-circle {
	border-radius: 50%;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
	content: " ";
	display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after {
	clear: both;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none !important;
}
.affix {
	position: fixed;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../font/icomoon.eot?s61xwe');
	src:  url('../font/icomoon.eot?s61xwe#iefix') format('embedded-opentype'),
		url('../font/icomoon.ttf?s61xwe') format('truetype'),
		url('../font/icomoon.woff?s61xwe') format('woff'),
		url('../font/icomoon.svg?s61xwe#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pointer:before {
	content: "\e900";
}
.icon-pointer-lines:before {
	content: "\e901";
}
.icon-pointer-black:before {
	content: "\e902";
}
.icon-circle:before {
	content: "\e903";
}
.icon-menu:before {
	content: "\e904";
}
.icon-search:before {
	content: "\e905";
}
.icon-play:before {
	content: "\e906";
}
.icon-envelope:before {
	content: "\e907";
}
.icon-envelope-lines:before {
	content: "\e908";
}
.icon-note-ok .path1:before {
	content: "\e909";
}
.icon-note-ok .path2:before {
	content: "\e90a";
	margin-left: -1em;
}
.icon-note-ok .path3:before {
	content: "\e90b";
	margin-left: -1em;
}
.icon-ok:before {
	content: "\e90c";
}
.icon-running:before {
	content: "\e90d";
}
.icon-user:before {
	content: "\e90e";
}
.icon-buldings:before {
	content: "\e90f";
}
.icon-coins:before {
	content: "\e910";
}
.icon-paypal:before {
	content: "\e911";
}
.icon-facebook:before {
	content: "\e912";
}
.icon-twitter:before {
	content: "\e913";
}
.icon-linkedin:before {
	content: "\e914";
}

.sm-hidden {
	display: none;
}

.sm-show {
	display: block;
}

.md-hidden {
	display: none;
}




@media (min-width: 768px) {
	.md-hidden {
		display: none;
	}
	.md-show {
		display: block;
	}
}
@media (min-width: 992px) {
	.xs-hidden {
		display: none;
	}
	.xs-show {
		display: block;
	}
}


.ui-menu {
	width: 320px !important;
}

@media (min-width: 768px) {
	.ui-menu {
		width: 768px !important;
	}
}

@media (min-width: 992px) {
	.ui-menu {
		width: 992px !important;
	}
}

.ui-menu li {
	padding: 8px;
	border: 1px solid #9B9B9B;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #B5B8BB;
	border-top: 0px none;
	cursor: pointer;
	transition: all 200ms ease-out;
	background: white;
}
.ui-menu li:hover {
background: #5b9be5;
	color: #fff;
}
.ui-menu li:last-child {
	border-radius: 0 0 5px 5px;
}


.overlay {
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	display: block;
	top: 0px;
	left: 0px;
	transition: all 200ms ease-out;
}

.loading {
	width: 200px;
	height: 270px;
	background: url("../img/loading4.gif") no-repeat;
	background-size: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -135px 0 0 -100px;
}

.loading span {
	text-align: center;
	padding-top: 210px;
	display: block;
	font-size: 18px;
	color: #000;
}

.backdrop {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
}

.backdrop .modal {
    min-width: 320px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);
}

.backdrop .modal .modal-body {
    border: 5px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.backdrop .modal .modal-body.error {
    border: 5px solid #d31a31;
}

.backdrop .modal .modal-body.correct {
    border: 5px solid #8ec63f;
}

.backdrop .modal .modal-body p {
    text-align: center;
    font: 16px / 1.2 "Lato", sans-serif;
    margin: 10px 0;
}

.backdrop .modal .modal-body a {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #1c1c1c;
    text-shadow: 0 1px 0 #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
